### Initializing the dataset and taking a peak at the contents.
We want to load the data from kaggle and then view its contents.
When using kagglehub.dataset_download() (from the kagglehub library), it downloads and caches datasets locally using a consistent folder structure — but it's a bit hidden by default.
So we will move the files to our working directory instead. 

Later this will make it easier to upload the dataset and the notebook files to GitHub.

In [1]:
import kagglehub
import shutil
import os
import pandas as pd
import json

In [19]:
with open("config.json") as f:
    config = json.load(f)

# Download latest version
source_path = kagglehub.dataset_download(config["dataset"]["source"])
destination_dir = os.getcwd() 
print("Path to dataset files:", source_path)

Downloading from https://www.kaggle.com/api/v1/datasets/download/serpilturanyksel/adult-income?dataset_version_number=1...

100%|███████████████████████████████████████████████████████████████████████████████| 652k/652k [00:00<00:00, 6.82MB/s]

Extracting files...
Path to dataset files: C:\Users\shaha\.cache\kagglehub\datasets\serpilturanyksel\adult-income\versions\1

In [21]:
# === Find the first CSV file and move it ===
for file in os.listdir(source_path):
    if file.endswith(".csv"):
        full_source = os.path.join(source_path, file)
        full_destination = os.path.join(destination_dir, file)
        shutil.move(full_source, full_destination)
        print(f"Moved {file} to {destination_dir}")
        
        print("Data moved successfully.")
        break  # Only load the first CSV file found
income_df = pd.read_csv(full_destination)

Moved adult11.csv to C:\Users\shaha\Data-Science
Data moved successfully.

In [23]:
income_df.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,gender,capital-gain,capital-loss,hours-per-week,native-country,salary
0,25,Private,226802,11th,7,Never-married,Machine-op-inspct,Own-child,Black,Male,0,0,40,United-States,<=50K
1,38,Private,89814,HS-grad,9,Married-civ-spouse,Farming-fishing,Husband,White,Male,0,0,50,United-States,<=50K
2,28,Local-gov,336951,Assoc-acdm,12,Married-civ-spouse,Protective-serv,Husband,White,Male,0,0,40,United-States,>50K
3,44,Private,160323,Some-college,10,Married-civ-spouse,Machine-op-inspct,Husband,Black,Male,7688,0,40,United-States,>50K
4,18,?,103497,Some-college,10,Never-married,?,Own-child,White,Female,0,0,30,United-States,<=50K